body {
	width: 20;
	height: 10;
	margin: 20;
	padding: 10;
	background-color: #00ffff;
}

.custom-file-upload {
	display: inline-block;
	padding: 6px 12px;
	text-size: 50px;
}

form {
	position: fixed; /* or absolute */
	top: 20%;
	left: 20%;
}

img.img {
	width: 60px;
	height: 60px;
}

nav.navbar-default {
	background-color: #AED6F1;
}