body.bg-22 {
	background-color: #00ffff; /* Gold */
	color: #ffffff;
}

h2.h2 {
	color: #0000a0;
	text-align:center;
}

td.form {
	margin-top: 100px;
	color: #0000a0;
}

table.table {
	width: 50%;
	margin-left: 30%;
	margin-right: 30%;
}