@CHARSET "ISO-8859-1";

table {
	background-color: #d0e4fe;
	text-align: left;
}

<<<<<<< HEAD
  .bg-1 {
      background-color: #00ffff; /* Gold */
      color: #ffffff;
  }
  
  img.img{
    width: 30px;
    height: 30px;
  }
<<<<<<< HEAD
  weight
=======
  
  .td_size {    
  width:80px; 
  height:20px;
 
  **overflow:hidden;** /*(Optional)This might be useful for some overflow contents*/   
}
>>>>>>> 9e67
=======
td.tdcolor {
    color: #0000ff;
   
}

.bg-1 {
	background-color: #00ffff; /* Gold */
	color: #004080;
}

img.img {
	width: 30px;
	height: 30px;
}

table.table-striped {
	font-size: 20px;
	color: #ff8080;
}

nav.navbar-default {
	background-color: #AED6F1;
}
>>>>>>> cc36
